* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sora", sans-serif;
    font-weight: 600;
    letter-spacing: 0.04em;
font-family: "Karla", sans-serif;
font-weight: 500;
}

html {
    scroll-behavior: smooth;
}

a {
    transition: all 0.2s;
    text-decoration: none;

}

body {
    background: rgb(30, 30, 30);

}

.wrapper {
    width: 100vw;
    height: auto;
}

Header {
    width: 100%;
    height: 1000px;
    background: url(../img/HeaderBackground.png);
    background-size: 100% 100%;
    display: flex;
    flex-wrap: wrap;
}

.HeaderItem {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    color: white;
    gap: 40px;
}

.HeaderItem h1 {
    font-size: 130px;
}

.HeaderItem h2 {
    font-size: 50px;
    color: rgb(189, 189, 189);
}

nav {
    width: 100%;
    display: flex;
    height: 125px;
    align-items: center;
    gap: 12.5%;
    padding: 30px;
    transition: all 1s ease;
}

.NavLogo {
    width: 10%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: white;
    font-weight: bold;
}

.NavItems {
    width: 60%;
    display: flex;
    justify-content: space-around;
}

.NavItem {
    color: white;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    font-size: 20px;

    transition: all 0.6s;

}

.NavItems:hover .NavItem {
    color: rgb(85, 85, 85);
}

.NavItems:hover .NavItem:hover {
    color: white;
}

.HeaderBall {
    transition: all 1s;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: radial-gradient(farthest-corner at 20px 20px, white 2%, Yellow, rgb(255, 0, 98));
    position: absolute;
    top: 22%;
    left: 55%;
    box-shadow: -2px 10px 70px linear-gradient(Yellow, orange);
    box-shadow:
        0 0 50px rgba(255, 255, 31, 0.5),
        0 0 50px #ffaa0d66;
}

.Expertise {
    width: 100%;
    background: rgb(30, 30, 30);
    display: flex;
    padding: 30px;
    flex-wrap: wrap;
    color: white;
    justify-content: space-around;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.ExpertiseText {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}

.ExpertiseItem {
    width: 30%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 3px solid white;
    padding: 20px;
    z-index: 2;
}

.ExpertiseItemImg {
    width: 15%;
    height: 100%;
}

.ExpertiseItemText {
    width: 100%;
    display: flex;
    height: auto;
    align-items: center;
    gap: 20px;
    height: 60px;
    font-size: 25px;
}

.ExpertiseItems {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ExpertiseItem p {
    font-size: 27px;
}

.ExpertiseItem span {
    font-size: 23px;

    color: grey;
}

.ExpertiseItemCode {
    width: 100%;
    font-size: 27px;
    margin-left: 23px;
    font-weight: 100;
}

.BackgroundImg {
    opacity: 0.2;
    position: absolute;
    top: 500px;
    z-index: 1;
}

main {
    width: 100%;
    height: auto;
    background: rgb(30, 30, 30);
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.WeatherForecastImg {
    width: 55%;
    height: 400px;
}

.mainWork {
    width: 60%;
    display: flex;
    gap: 10%;
    padding: 20px;
}

.mainText {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    padding: 40px;
    height: 500px;
    color: white;
}

.mainText h1 {
    font-size: 120px;
}

.mainText p {
    font-size: 20px;
}

.mainWorkText {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    height: 425px;
    align-items: center;
    gap: 20px;
    justify-content: flex-end;
}

.FeaturedProject {
    color: white;
    font-size: 40px;
}

.ProjectDescription {
    color: white;
    font-size: 25px;
}

.ArrowImage {
    width: 40%;
    height: 100px;
}

.ViewProject {
    width: 100%;
    height: 100%;
    background: rgb(176, 41, 255);
    color: white;
    border: none;
    border-radius: 7px;
}

.ViewProjectLink {
    width: 40%;
    height: 50px;
}

aside {
    width: 100%;
    height: 600px;
    display: flex;
    background: rgb(30, 30, 30);
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 200px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.asideItem {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.asideItemImg {
    width: 100%;
    height: 350px;
    transition: all 0.5s;
}

.asideItemText {
    width: 100%;
    display: flex;
    height: 150px;
    background: rgb(49, 49, 49);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 20px;
    color: white;
    z-index: 2;
    text-decoration: none;

}

.asideFilters {
    width: 100%;
}

.asideItem:hover .asideItemImg {
    transform: scale(1.2);
}

footer {
    width: 100%;
    height: 200px;
    background: black;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 50px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.footerItem {
    width: 20%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.AccordionBlock {
    margin-top: 50px;
    width: 100%;
    height: 1000px;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    flex-wrap: wrap;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
}

.AccordionBlock h1 {
    width: 100%;
    text-align: center;
    font-size: 70px;
    color: white;
}

.Accordion {
    width: 30%;

}

.ac {
    width: 100%;
    border: none !important;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 10px;
}

.ac-header {
    background: rgb(116, 12, 220);

}

.ac-panel {
    background: rgb(36, 29, 65);

}

.ac .ac-trigger {
    padding: 20px !important;
    font-size: 20px !important;
}

.ac .ac-panel .ac-text {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    padding-left: 30px !important;
}

.ac .ac-trigger,
.ac .ac-panel,
.ac .ac-text {
    color: #ffffff !important;
}

.accordion-container {
    width: 40%;
}

aside a {
    width: 30%;
    height: auto;
}

.Expertise.viewed {
    transform: translateY(0);
    opacity: 1;
}

main.viewed {
    transform: translateY(0);
    opacity: 1;
}

aside.viewed {
    transform: translateY(0);
    opacity: 1;
}

footer.viewed {
    transform: translateY(0);
    opacity: 1;
}

.AccordionBlock.viewed {
    transform: translateY(0);
    opacity: 1;
}

.footerItem a {
    width: 5%;
    color: white;
    text-decoration: none;
}

.footerItem a:hover {
    transform: scale(1.05);
}

.navScrolled {
    position: fixed;
    z-index: 50;
    background: rgba(32, 32, 41, 0.541);
}

nav.navScrolled {
    width: 100%;
    animation: navSlideDown 0.6s ease;
    justify-content: center;
    align-items: center;
    .NavItems{
        width: 90%;
    }
}


@keyframes navSlideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

.footerItem a {
    width: 5%;
    color: white;
    text-decoration: none;
}

.asideItem {
    width: 100%;
}

@media (max-width: 450px) {
    .NavLogo {
        font-size: 25px;
    }

    .NavItem {
        font-size: 15px;
    }

    .HeaderItem h1 {
        font-size: 50px;
    }

    .HeaderItem h2 {
        font-size: 30px;
    }

    nav {
        padding: 20px;
        gap: 15%;
        flex-direction: column;
    }

    Header {
        height: 800px;
        background-size: cover;
        background-position: center;
    }

    .BackgroundImg {
        width: 100%;
    }

    .HeaderItem {
        text-align: center;
    }

    .NavItems {
        justify-content: space-between;
        width: 90%;
    }

    .NavItems a {
        width: 8%;
    }

    .NavItem {
        width: 100%;
        font-size: 11px;
    }

    .ExpertiseItems {
        flex-wrap: wrap;
    }

    .ExpertiseItem {
        width: 90%;
    }

    main {
        flex-wrap: wrap;
    }

    .mainWork {
        width: 100%;
    }

    .WeatherForecastImg {
        height: 250px;
    }

    .ViewProjectLink {
        width: 100%;
    }

    .ArrowImage {
        width: 70%;
    }

    .mainText {
        width: 100%;
    }

    .mainText h1 {
        font-size: 50px;
    }

    aside a {
        width: 90%;
    }

    aside {
        height: 1000px;
        gap: 30px;
    }

    .accordion-container {
        width: 90%;
    }

    .footerItem {
        width: 100%;
        font-size: 15px;
    }

    footer {
        padding: 20px;
        flex-direction: column;
        align-items: center;
        height: 400px;
        text-align: center;
    }

    .footerItem a {
        width: 100%;
        font-size: 18px;
    }

    .ExpertiseItemCode {
        font-size: 22px;
    }
}