*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
        transition: 0.3s;

}
.wrapper{
    margin: 0 auto;
    width: 1620px;
}
header{
    width:100%;
height: 714px;
top: 9px;
left: 28px;
border-radius: 25px;
background: #F0F7F8;
display: flex;
flex-wrap: wrap;
padding: 40px;
transition: 0.3s;



}
nav{
    width: 95%;
height: 51px;
top: 38px;
left: 93px;
border-radius: 12.66px;
background: #FFFFFF;
display: flex;
align-items: center;
justify-content: space-between;
padding: 15px;


}
.nav_item2{
    width: 50%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav_item3{
    width: 10%;
    height: 40px;
    border: 1px solid;
    border-radius: 50px;
    background: #00487C;
    position: relative;
     border: none;
}
.nav_item3.active{
    background: rgb(160, 160, 83);
    border: none;
}
.wrapper.active{
    background: #00487C;
}
header.active{
    background: #00487C;
}

.switcher{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: url(moon.png);
    background-size: 100% 100%;
    position: absolute;
    top: 5px;
    left: 5px;
    transition: 1s;
}
.buttons button{
    width: 26%;
    height: 50px;
    border-radius: 15px;
}
.switcher.active{
    width: 35px;
    height: 35px;
    left: 100px;
    top: 3px;
    background: url(sun.png);
    background-size: 100% 100%;
}
.wrapper{
    height: auto;
    display: flex;
    flex-direction: column;
}
.header_item_left{
    width: 45%;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.header_item_left h1{
    font-size: 50px;
    font-family: Outfit;
font-weight: 700;
font-style: Bold;
font-size: 38px;
line-height: 100%;
letter-spacing: 0%;
text-transform: uppercase;
display: flex;
gap: 15px;
flex-direction: column;
}
.span1{
    font-size: 40px;
    color: #3A8DCA;
}
 .span2{
    font-size: 30px;
    font-family: Outfit;
font-weight: 400;
font-style: Regular;
font-size: 26px;
line-height: 100%;
letter-spacing: 0%;
text-transform: uppercase;


}
.header_item_left p{
    width: 85%;
    font-size: 20px;
}
.buttons{
    width:75%;
    height: auto;
    display: flex;
    gap: 10px;
}
.buttons a{
    width: 30%;
}
#more_info{
    width: 100%;
    height: 50px;
    color: white;
    background: black;
    border:  none;
    border-radius: 10px;
}
#chatgpt{
    width: 100%;
    height: 50px;
    color: black;
    background: none;
    border-radius: 10px;
}
.header_item_right{
    width: 50%;
    height: auto;
    order: 10;
}
.header_item_right{
    width:40%;
    height: 400px;
}
.header_items{
width:100%;
    display: flex;
justify-content: space-between;
position: relative;
}
.header_item_features{
    width: 420px;
height: 220px;
position: relative;
top: -60px;
left: 600px;
background: #FFFFFF;
border-radius: 10px;
display: flex;
flex-wrap: wrap;
padding: 15px;
align-items: center;
justify-content: center;
gap: 15px;
}
.feature_item{
width: 48%;
height: 45px;
background: #F0F8F8;
display: flex;
gap: 10px;
padding: 10px;
align-items: center;
border-radius: 5px;
}
.feature_item img{
    width: 20px;
    height:20px;
}
.header_item_languages{
    width: 60%;
    background: #FFFFFF;
    display: flex;
    justify-content: space-around;
    height: 50px;
    padding: 10px;
    align-items: center;
    position: relative;
    top: 180px;
    left: 600px;
    border-radius: 13px;
}
.header_item_languages img{
    width: 10%;
    height: 30px;
}
.section_first{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    text-align: center;
    gap: 10px;
    justify-content: center;
}
.section_first h2{
    width: 100%;
    font-size: 35px;
}
.section_first_item_first{
    width: 45%;
    height: 100px;
    padding: 30px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section_second{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}
.span3{
        color: #3A8DCA;
        font-size: 40px;
}
.section_second h2{
    width: 100%;
    font-size: 40px;
    text-align: center;
}
.span4{
        color: #3A8DCA;
        cursor: pointer;
}
.span5{
            cursor: pointer;
}
.span6{
        color: #3A8DCA;
                cursor: pointer;
}
.section_first_item_second{
    width: 45%;
    height: 100px;
    border: 3px dashed #1877F2;
    background: #EFF7F7;
    border-radius: 10px;
    text-align: start;
    padding: 20px;
    font-size: 30px;
}
.section_second_item_first{
    width: 42%;
    height: 500px;
    font-size: 25px;
    padding: 30px;
}
.span7{
        color: #3A8DCA;
        font-size: 40px;
}
.span8{
    color: #3A8DCA;

}
.span9{
    color: #3A8DCA;
}
#buttons2{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    gap: 25px;
}
#buttons2 button{
    border-radius: 5px;
}
.method1{
    background: #0F2435;
    width: 30%;
    height: 40px;
    border: none;
    color: white;
        width: 29%;
    height: 40px;
}
.method4{
    background: #0F2435;
    border: none;
    color: white;
        width: 29%;
    height: 40px;
}
.method7{
    background: #0F2435;
    border: none;
    color: white;
        width: 29%;
    height: 40px;
}
.method2{
    border: 2px solid #0F2435;
    background: white;
        width: 29%;
    height: 40px;
}
.method5{
    border: 2px solid #0F2435;
    background: white;
          width: 29%;
    height: 40px;
}
.method8{
    border: 2px solid #0F2435;
    background: white;
        width: 29%;
    height: 40px;
}
.method3{
    border: 2px solid #3A8DCA;
    background: white;
        width: 29%;
    height: 40px;
}
.method6{
    border: 2px solid #3A8DCA;
    background: white;
        width: 29%;
    height: 40px;
}
.method9{
    border: 2px solid #3A8DCA;
    background: white;
        width: 29%;
    height: 40px;
}
.section_second_item_second{
    width: 53%;
height: 550px;

}
.section_second_item_second img{
    width: 100%;
    height: 100%;
    transition: none;
}
.animations{
    width: 100%;
    height: 600px;
    display: flex;
    padding: 30px;
    gap: 130px;

}
.animations_left{
    width: 45%;
    height: 500px;
    display: flex;
    flex-direction: column;
    font-size: 25px;
align-items: center;
    background: rgb(118, 240, 215);
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 5px 5px 5px;
}
.animations_left button{
    width: 20%;
height: 50px;
}
.animations_right{
        width: 45%;
    height: 500px;
    display: flex;
    flex-direction: column;
    font-size: 25px;
align-items: center;
    background: rgb(202, 233, 244);
    overflow: hidden;
        border-radius: 30px;
    box-shadow: 5px 5px 5px;
}
.car_img{
    position: relative;
    left: 260px;
    top: 100px;
    width: 100px;
    height: 100px;
}
.sun_img{
    position: relative;
    top:400px;
    width: 170px;
    height: 100px;
}
.animations_right button{
    width: 20%;
height: 50px;
}
.aside{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.aside_item_left{
    width: 40%;
    height: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
font-family: Outfit;
font-weight: 500;
font-style: Medium;
}
.aside_item_left input{
    width: 80%;
    font-size: 30px;
    height: 60px;
    padding: 20px;
    border-radius: 20px;
    color: black;
    background: #F0F7F8;
    border: none;
}
.add_button{
    width: 86%;
    height: 60px;
    background: black;
    box-shadow: 0 12px 21px 4px #4461F226;
    border-radius: 15px;
    border: none;
    color:white;
    font-family: Outfit;
font-weight: 500;
font-style: Medium;
font-size: 18px;

line-height: 50px;
letter-spacing: 9%;

}
.aside_h1{
    width: 100%;
}
.lines{
    width: 85%;
    height: 10px;
    display: flex;
    justify-content: space-between;
}
.line1{
    width: 30%;
    height: 2px;
    background: #DFDFDF;
}
.line2{
    width: 30%;
    height: 2px;
    background: #DFDFDF;
}
.aside_item_right{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.aside_item_right h5{
    font-weight: bold;
    font-size: 20px;
}
.aside_item_first{
    padding: 10px;
    width: 30%;
    display: flex;
    box-shadow: 0 6px 13px 4px black;
    border-radius: 15px;
    flex-direction: column;
    color: white;
    background: rgb(168, 168, 168);
    text-align: center;
}
.span10{
    color: #1877F2;
}
.aside_h1{
    font-size: 50px;
    text-align: center;
}
.pazle{
    width: 95%;
display: flex;
flex-wrap: wrap;
text-align: center;
justify-content: center;
background: #F0F7F8;
position: relative;
border-radius: 20px;
margin: 0 auto;
height: 900px;
}
.pazle h2{
    width: 100%;
font-size: 40px;
}
.pazle p{
    width: 100%;
}
.pazle h2 span{
    color: #1877F2;
}
.pazle_image{
    width: 55%;
}
.pazle_image img{
    float: left;
    width: 340px;
    height: 250px;
    transition: none;

    margin: 20px;
}

.completed{
    width: 20%;
    height: 200px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background: white;
    position: absolute;
    top: 330px;
    left: 550px;
    border-radius: 20px;
}
.completed img{
    width: 30px;
    height: 30px;
}
.reset_button{
    width: 70%;
    height: 50px;
    border-radius: 10px;
    background: black;
    color: white;
    border: none;
}
.dragDrop{
    width: 100%;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
}
.dragDrop h2{
    width: 100%;
    font-size: 40px;
}
.dragDrop h2 span{
    width: 100%;
    font-size: 40px;
    color: #1877F2;
}
.dragDrop p {
    width: 100%;
}
.jsBox{
    width: 30%;
    height: 400px;
    display: flex;
    flex-direction: column;
text-align: center;
border-radius: 5px;
align-items: center;
justify-content: center;
background: #EFF7F7;
color: red;
}
#JavaScriptBox{
    width: 40%;
    height: 150px;
    background: url("jsBox.png");
        background-size: 100% 100%;
}
.jquerybox{
    width: 30%;
    height: 400px;
    display: flex;
    flex-direction: column;
text-align: center;
border-radius: 5px;
align-items: center;
justify-content: center;
background: #EFF7F7;
color: red;
}
#jqueryBox{
    width: 40%;
    height: 150px;
    background: url("jqueryBox.png");
    background-size: 100% 100%;
}
.words{
    width: 30%;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.words li{
    margin: 10px;
    font-size: 21px;
    list-style: none;
}
.accordeon{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    flex-wrap: wrap;
    text-align: center;
}
.accordion{
    width: 40%;
    height: 60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 450px;
    transition: none;
}
.accordeon h2{
    width: 100%;
font-size: 40px;
height: 50px;
}
   .accordeon h2 span{
    color: #1877F2;
}
.accordeon_imgs{
    width: 50%;
    display: flex;
}
.accordeon_img{
    height: 425px;
    transition: 0.5s;
}
p.active{
    color: white;
}
li.active{
    color: white;
}

span.active{
    color: white;
}
h1.active{
    color: #FED62E;

}h3.active{
    color: white;
}
.span5.active{
color: #FED62E;
}
span.active{
    color: white;
}
.feature_item p{
    color: black;
}
h2.active{
    color: #FED62E;
}
.span4.active{
    color: #64C9D5;
}
.span6.active{
    color: #64C9D5;
}
h4.active{
    color: #FED62E;
}
.span8.active{
       color: #64C9D5;
}
.span9.active{
       color: #64C9D5;
}
.p11.active{
    color: red;
}
.p22.active{
    color: red;
}
.accordion h3.active{
    color: black;
}
footer{
    width: 90%;
    height: 70px;
    display: flex;
    background: #0F2435;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 20px;
    margin: 0 auto;
}
.jquer{
    transition: none;
}
.jas{
    transition: none;
}
.ui-accordion{
    transition: none;
}
.ui-accordion-contect{
        transition: none;
}.ui-accordion-contect-active{
        transition: none;
}
#chatgpt.active{
    background: #00487C;
    border: 1px solid;
    color: white;
}